<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SafeMail{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!--<header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'spam_detection:dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'spam_detection:logout' %}">Logout</a></li>
                <li><a href="{% url 'spam_detection:blacklist' %}">Blacklist</a></li>
                <li><a href="{% url 'spam_detection:whitelist' %}">Whitelist</a></li>
                
                {% else %}

                {% endif %}
            </ul>
        </nav>
    </header>-->

    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% block scripts %}
    {% endblock %}
</body>
</html>